---
import Layout from "../layouts/Layout.astro";
import AuthFormContainer from "../components/AuthFormContainer.astro";
import PasswordToggle from "../components/PasswordToggle.astro";
import Button from "../components/Button.astro";
import { ViewTransitions, fade } from 'astro:transitions';


---

<Layout title="Login">
		<AuthFormContainer>
			
			
			<form id="form"  transition:animate={fade({duration: '0.4s'})} method="POST">
			  <label for="email">Email</label>
			  <input type="email" id="email" name="email" required>
		
			  <label for="password">Password</label>
			  <PasswordToggle id="password"/>
			<Button type="submit" text="Login"/>
			</form>
		</AuthFormContainer>
		<ViewTransitions/>
</Layout>



<script>
	import {actions} from "astro:actions"
	import { isInputError } from "astro:actions";
	import Form from "@/utils/form"
	
  
	
  
	const form = document.getElementById("form") as HTMLFormElement;
	
	async function handleFormSubmit(e: Event) {
	  e.preventDefault();
	
	  const formData = new FormData(form);
  
	  const { data, error } = await actions.sign_in(formData);
	  	const basePath = window.location.origin
		const url = new URL('/dashboard', basePath)
		Form.renderMessage(error, data, form, url)
	 
	}
  
	form.addEventListener("submit", handleFormSubmit);
</script>
  
  


<style>


	
	
	
    label {
      font-weight: bold;
      margin-top: 10px;
      display: block;
	
    }
	
    
	.togglePassword{
		cursor: pointer;
		position: absolute; 
		right: 10px; 
		top: 40%; 
		transform: translateY(-50%);
	}
	.disabled{
		opacity: 0.5;
		pointer-events: none;
	}

    button {
      width: 100%;
	  align-self: flex-end;
      padding: 10px;
      background-color: #764ba2;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
	  transition: background-color 0.5s ;
    }

    button:hover {
      background-color: #4d0a8f;
    }
</style>