---
import type { object } from "astro:schema";
import AuthFormContainer from "../components/AuthFormContainer.astro";
import Button from "../components/Button.astro";
import PasswordToggle from "../components/PasswordToggle.astro";
import Layout from "../layouts/Layout.astro";
import { ViewTransitions, fade } from 'astro:transitions';
const currentUrl = Astro.url.pathname;

---

<Layout title="Sign Up">
	<AuthFormContainer >
		
		
		<form id="form"   method="POST" >
				
		<label for="username">Name</label>
		<input type="text" id="username" name="username" required>
		  <label for="email">Email</label>
		  <input type="email" id="email" name="email" required>
	
		  <label for="password">Password</label>
		  <PasswordToggle id="password"/>
	
		  <Button type="submit" text="Sign Up"/>

		</form>
	</AuthFormContainer>
</Layout>

<script>
	import {actions} from "astro:actions"
	import Form from "@/utils/form"
	
  
	
  
	
  
	const form = document.getElementById("form") as HTMLFormElement;
	
	async function handleFormSubmit(e: Event) {
	  e.preventDefault();
	
	  const formData = new FormData(form);
  
	  const { data, error } = await actions.sign_up(formData);
		const basePath = window.location.origin
		const url = new URL('/login', basePath)
		Form.renderMessage(error, data, form, url)
	 
	}
  
	form.addEventListener("submit", handleFormSubmit);
  </script>