---
import AuthFormContainer from "../components/AuthFormContainer.astro";
import Button from "../components/Button.astro";
import PasswordToggle from "../components/PasswordToggle.astro";
import Layout from "../layouts/Layout.astro";
import { ViewTransitions, fade } from 'astro:transitions';
---

<Layout title="Sign Up">
	<AuthFormContainer >
		
		
		<form transition:animate={fade({duration: '0.4s'})}  action="/login" method="POST">
				
		<label for="name">Name</label>
		<input type="text" id="name" name="name" required>
		  <label for="email">Email</label>
		  <input type="email" id="email" name="email" required>
	
		  <label for="password">Password</label>
		  <PasswordToggle id="password"/>
	
		  <Button type="submit" text="Sign Up"/>

		</form>
	</AuthFormContainer>
	<ViewTransitions/>
</Layout>